* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Montserrat", sans-serif;
  font-family: "Raleway", sans-serif;
}
.orange-btn {
  width: 280px;
  height: 50px;
  border-radius: 200px;
  background: var(--active, #f4683f);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 600;
  line-height: 150%;
  cursor: pointer;
  border: none;
}
.dop-btn {
  margin-top: 60px;
}
/*section welcome start*/
.welcome {
  width: 100%;
  height: 949px;
  background-image: url(/img/bg_photo.png);
}
header {
  height: 125px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.logo-one {
  width: 280px;
  height: 38px;
}
.block-city {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}

.city-p {
  color: #fff;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 600;
}
.link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 136px;
  height: 40px;
  border-radius: 200px;
  border: 1px solid #fff;
  color: #fff;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
}
.block-link {
  display: flex;
  flex-direction: row;
  gap: 30px;
}
.link-question {
  color: #fff;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
}
.block-link-logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
}
.block-search {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}
.search-a {
  color: #fff;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
}
/*section welcome end*/

.flex {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.text {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 50px;
}
h1 {
  width: 680px;
  color: #fff;
  font-family: Raleway;
  font-size: 60px;
  font-weight: 800;
  line-height: 140%;
  letter-spacing: 1.2px;
}
.text-p {
  width: 469px;
  color: #fff;
  font-family: Montserrat;
  font-size: 25px;
  font-weight: 600;
  line-height: 150%;
}
.slider {
  display: flex;
  flex-direction: row;
  gap: 40px;
}
.slider-p {
  width: 159px;
  color: #fff;
  text-align: center;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
}
.block-social {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.social-img {
  cursor: pointer;
}

.form {
  width: 360px;
  height: 497px;
  border-radius: 20px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.form-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.block-form__flex {
  display: flex;
  flex-direction: row;
  gap: 87px;
}
.flex-p {
  color: #444;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 600;
  line-height: 150%;
}
.block-button {
  gap: 10px;
  width: 280px;
  height: 50px;
  border-radius: 200px;
  border: 1px solid #c0c2d7;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 46px;
}

span {
  width: 1px;
  height: 36px;
  background: #c0c2d7;
}
.quantity-input {
  width: 280px;
  height: 50px;
  border-radius: 200px;
  border: 1px solid #c0c2d7;
  background: #fff;
  padding-left: 20px;
}
input[type="range"] {
  width: 140px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
input[type="range"]::-webkit-slider-runnable-track {
  width: 240px;
  height: 1px;
  background: #808080;
}
input[type="range"]::-webkit-slider-thumb {
  padding-top: 20px;
  width: 8px;
  height: 23px;
  border-radius: 100px;
  background: #f4683f;
  -webkit-appearance: none;
  margin-top: -10px;
}
label {
  margin-left: 50px;
}
.leb {
  margin-left: 272px;
}
output,
label {
  position: absolute;
  margin-top: 15px;
}
.outp {
  margin-left: 215px;
}
.block-range {
  margin-top: 60px;
  display: flex;
  flex-direction: row;
}
/*description start*/
.description {
  padding: 100px;
  display: flex;
  flex-direction: column;
  gap: 100px;
}
.block-des-flex {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 80px;
}
.des-p {
  color: #333;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 600;
  line-height: 160%;
}
/*description end*/

/*catalog start*/
.catalog {
  margin-top: 150px;
}
.des-h {
  margin-left: 100px;
}
.catalog__block-flex {
  margin-top: 80px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 40px;
}
.block {
  position: relative;
  width: 440px;
  height: 600px;
  border-radius: 20px;
  background: #fff;
  box-shadow: 0px 4px 80px 0px rgba(5, 9, 22, 0.08);
}
.elemen-person {
  margin-top: 24px;
  margin-right: 20px;
  position: absolute;
  right: 0;
  width: 92px;
  height: 36px;
  border-radius: 150px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.person-p {
  color: #727488;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 600;
  line-height: 150%;
}
.heart {
  cursor: pointer;
  margin-top: 224px;
  margin-right: 20px;
  position: absolute;
  right: 0;
  width: 50px;
  height: 50px;
  border-radius: 200px;
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0px 4px 20px 0px rgba(21, 22, 34, 0.2);
}
.heart-img {
  margin-left: 12px;
  margin-top: 12px;
}
.block__text {
  padding: 20px;
}
h4 {
  color: #333;
  font-family: Raleway;
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
  line-height: 150%;
}
.part-menu {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 15px;
}
.element-menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.menu-p {
  color: #727488;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 600;
  line-height: 150%;
}
.part-cent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.cent-p {
  color: #333;
  font-variant-numeric: lining-nums proportional-nums;
  font-family: Raleway;
  font-size: 22px;
  font-style: normal;
  font-weight: 800;
  line-height: 150%;
}
.cent-a {
  color: var(--active, #f4683f);
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  text-decoration: none;
}
.catalog-link {
  text-decoration: none;
  color: #fff;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 600;
  line-height: 150%;
}
/*catalog end*/

/*catalog two start*/
.cat-m {
  margin-bottom: 150px;
}
.block-catalog {
  padding-left: 20px;
  width: 440px;
  height: 130px;
  box-shadow: -5px -1px 39px 2px rgba(34, 60, 80, 0.13);
  border-radius: 20px;
  display: flex;
  align-items: center;
  gap: 15px;
}
.cat-p {
  color: #333;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 600;
  line-height: 150%;
}
/*catalog two end*/

/*questions start*/
.questions {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.block-flex-ques {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
  margin-bottom: 200px;
}
.block-questions {
  width: 700px;
  border-top: 1px solid #c0c2d7;
  border-bottom: 1px solid #c0c2d7;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.block-active {
  display: none;
  margin-top: 30px;
  position: absolute;
  margin-left: -700px;
  z-index: 2;
  width: 720px;
  height: 70px;
  color: #000;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 500;
  line-height: 160%;
  background-color: #fff;
}
.block-menu {
  width: 16px;
  height: 16px;
  position: relative;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.menu-icon__line {
  content: "";
  display: block;
  width: 3px;
  height: 100%;
  background-color: #3b4244;
  transform: rotate(0deg);
}
.menu-icon__line::after {
  content: "";
  display: block;
  width: 3px;
  height: 100%;
  background-color: #3b4244;
  position: absolute;
}

.block-menu-active .menu-icon__line::after {
  transform: rotate(90deg);
  transition: 0.2s;
}
.block-question-menu {
  display: none;
}
.block-menu-active .block-question-menu {
  position: absolute;
  z-index: 999;
}
/*questions end*/

/*application start*/
.application {
  position: relative;
  background-image: url(img/bg_photo2.png);
  background-size: cover;
  width: auto;
  height: 775px;
}
.shadow {
  width: 100%;
  margin-top: 500px;
  position: absolute;
}
.appl__block-flex {
  padding-left: 300px;
  padding-top: 233px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.appl-h {
  color: #fff;
  font-family: Raleway;
  font-size: 40px;
  font-weight: 800;
  line-height: 150%;
}
.appl-p {
  width: 360px;
  color: #fff;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 600;
  line-height: 160%;
}
.appl-btn {
  margin-top: 50px;
  width: 260px;
}
/*application end*/

/*footer start*/
footer {
  height: 350px;
  background: linear-gradient(180deg, #161723 0%, #161723 109.24%);
  padding: 50px 150px;
}
.footer__blocks {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.block-logo {
  display: flex;
  flex-direction: column;
  gap: 150px;
  justify-content: space-between;
}
.element_p {
  display: flex;
  flex-direction: column;
}
.p-one,
.p-two {
  margin-bottom: 5px;
  color: #404256;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 500;
  line-height: 150%;
  text-decoration: none;
}

.block-menus {
  display: flex;
  flex-direction: column;
  gap: 45px;
}
h3 {
  color: #fff;
  font-family: Raleway;
  font-size: 22px;
  font-weight: 800;
  line-height: 150%;
}
.element-flex {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.menus-a {
  color: #c0c2d7;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
}
.block-qestion {
  display: flex;
  flex-direction: column;
  gap: 13px;
}
.ques-a {
  color: #c0c2d7;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
}
.block-search {
  display: flex;
  flex-direction: column;
  gap: 170px;
}
.elements-flex {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}
/*footer end*/


@media (max-width: 1392px) {
  .flex-mobile {
    align-items: center;
    flex-direction: column;
    height: 2100px;
    justify-content: right;
}
.dop-btn {
  margin-left: -720px;
}
.cat-mobile{
  margin-top: 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 40px;
}
.cat-button{
  position: absolute;
  margin-left: 0px;
    margin-top: 500px;
}
.elements-flex {
  flex-direction: column;}
  .block-search {
    gap: 10px; 
}
.welcom-btn{
  margin-left: 10px;
}

  .blo-search {
    flex-direction: row;
    gap: 10px;
}

}
